<?xml version="1.0" encoding="utf-8"?>
<!-- Based on https://msdn.microsoft.com/en-us/library/windows/desktop/dd319100(v=vs.85).aspx -->
<localization>
  <resources>
    <win32Resources fileType="Application" checksum="73626E88-C248-4881-B4DB-69EDB80D6373" language="en-US" ultimateFallbackLanguage="en-US">
      <neutralResources>
      </neutralResources>
      <localizedResources>
      <!-- Native Windows resource types -->
      <!-- CURSOR -->
      <resourceType
             typeNameId="#1"
         />
      <!-- MENU -->
      <resourceType
             typeNameId="#4"
         />
      <!-- DIALOG -->
      <resourceType
             typeNameId="#5"
         />
      <!-- STRING -->
      <resourceType
             typeNameId="#6"
         />
      <!-- FONTDIR -->
      <resourceType
             typeNameId="#7"
         />
      <!-- FONT -->
      <resourceType
             typeNameId="#8"
         />
      <!-- ACCELERATORS -->
      <resourceType
             typeNameId="#9"
         />
      <!-- MESSAGETABLE -->
      <resourceType
             typeNameId="#11"
         />
      <!-- GROUP_CURSOR -->
      <resourceType
             typeNameId="#12"
         />
      
      <!-- GRAPHISOFT defined resource types -->
      <resourceType
             typeNameId="CMND"
         />
      <resourceType
             typeNameId="DATA"
         />
      <resourceType
             typeNameId="DGFN"
         />
      <resourceType
             typeNameId="DGRS"
         />
      <resourceType
             typeNameId="DHLP"
         />
      <resourceType
             typeNameId="DLGH"
         />
      <resourceType
             typeNameId="FILE"
         />
      <resourceType
             typeNameId="FTGP"
         />
      <resourceType
             typeNameId="FTYP"
         />
      <resourceType
             typeNameId="GALR"
         />
      <resourceType
             typeNameId="GSDG"
             itemId="32500 32501 32510 32520 32530 32540 32550 32560 32570 32580 32590 32591 32600 32610 32620 32630 32640 32650 32651 12580"
         />
      <resourceType
             typeNameId="PNG"
         />
      <resourceType
             typeNameId="STRS"
             itemId="32000 32500 32520 32591 32592 32593 32600 32650"
         />
      </localizedResources>
    </win32Resources>
  </resources>
</localization>
