<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>Graphix</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>11.0.0</string>
	<key>CFBundleGetInfoString</key>
	<string>29.0.0 v1 INT (3100), Copyright &#169; GRAPHISOFT SE, 1984-2025</string>
	<key>CFBundleIconFile</key>
	<string>Graphix</string>
	<key>CFBundleName</key>
	<string>Graphix</string>
	<key>CFBundleIdentifier</key>
	<string>com.graphisoft.Graphix</string>
	<key>CFBundleVersion</key>
	<string>29.0.0.3100</string>
	<key>CFBundleShortVersionString</key>
	<string>29.0.0 v1 INT (3100)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright &#169; GRAPHISOFT SE, 1984-2025</string>
	<key>NSPrincipalClass</key>
	<string>GSAppController</string>
	<key>GSVersionAppendix</key>
	<string>INT</string>
	<key>GSProductType</key>
	<string>FULL</string>
	<key>GSCodeName</key>
	<string>v2025</string>
	<key>GSProductVersion</key>
	<string>29.0.0</string>
	<key>GSCombinedVersion</key>
	<string>29.0.1</string>
	<key>GSOriginalFileName</key>
	<string>Graphix.framework</string>
	<key>GSProductVersionShort</key>
	<string>v1</string>
	<key>GSProductVersionNumShort</key>
	<string>29</string>
	<key>GSBuildNum</key>
	<string>3100</string>
	<key>GSProductState</key>
	<string>0</string>
	<key>GSPlatform</key>
	<string>MAC64</string>
	<key>GSPrivateBuild</key>
	<string>0</string>
	<key>GSCountryCode</key>
	<string>30</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
		  <key>CFBundleLocalizations</key>
		  <array>
				<string>en</string>
				<string>fr</string>
				<string>de</string>
				<string>ja</string>
				<string>cs</string>
				<string>da</string>
				<string>fi</string>
				<string>fr</string>
				<string>de</string>
				<string>el</string>
				<string>nl</string>
				<string>hu</string>
				<string>it</string>
				<string>no</string>
				<string>pl</string>
				<string>pt</string>
				<string>es</string>
				<string>ru</string>
				<string>sv</string>
				<string>sk</string>
				<string>sl</string>
				<string>ko</string>
				<string>zh-Hans</string>
				<string>zh-Hant</string>
				<string>ar</string>
				<string>bg</string>
				<string>hr</string>
				<string>et</string>
				<string>is</string>
				<string>lt</string>
				<string>he</string>
				<string>ro</string>
				<string>tr</string>
				<string>inc</string>
				<string>lv</string>
				<string>ca</string>
				<string>is</string>
				<string>sr</string>
				<string>uk</string>
				<string>fa</string>
				<string>hi</string>
				<string>th</string>
				<string>vi</string>
				<string>be</string>
		  </array>
	<key>CFBundleDocumentTypes</key>
	<array>
	</array>
</dict>
</plist>
