<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.graphisoft.apidevkit.addon</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.bundleBase</string>
        <string>com.apple.dt.unit.osxBase</string>
    </array>
    <key>Concrete</key>
    <true/>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>developerID</string>
			<key>Name</key>
			<string>Developer ID</string>
			<key>Description</key>
			<string>The ID number received from GRAPHISOFT</string>
			<key>NotPersisted</key>
			<true/>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>Default</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>addonID</string>
			<key>Name</key>
			<string>AddOn ID</string>
			<key>Description</key>
			<string>The ID number created for the AddOn</string>
			<key>NotPersisted</key>
			<true/>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>Default</key>
			<string>1</string>
		</dict>
	</array>
    <key>Description</key>
    <string>This template generates an ARCHICAD Add-On project with the properties you specify.</string>
    <key>SortOrder</key>
    <integer>101</integer>
    <key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>DEBUG_INFORMATION_FORMAT</key>
				<string>dwarf</string>
				<key>COPY_PHASE_STRIP</key>
				<string>NO</string>
				<key>GCC_DYNAMIC_NO_PIC</key>
				<string>NO</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>DEBUG_INFORMATION_FORMAT</key>
				<string>dwarf-with-dsym</string>
				<key>COPY_PHASE_STRIP</key>
				<string>YES</string>
				<key>GCC_GENERATE_DEBUGGING_SYMBOLS</key>
				<string>NO</string>
			</dict>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_64_BIT)</string>
			<key>CLANG_CXX_LANGUAGE_STANDARD</key>
			<string>c++14</string>
			<key>CLANG_CXX_LIBRARY</key>
			<string>libc++</string>
			<key>INFOPLIST_FILE</key>
			<string>___PROJECTNAME___/Info.plist</string>
			<key>ALWAYS_SEARCH_USER_PATHS</key>
			<string>YES</string>
			<key>LIBRARY_SEARCH_PATHS</key>
			<array>
				<string>$(LIBRARY_SEARCH_PATHS)</string>
				<string>../../Support/Lib/Mactel</string>
			</array>
			<key>FRAMEWORK_SEARCH_PATHS</key>
			<array>
				<string>$(FRAMEWORK_SEARCH_PATHS)</string>
				<string>../../Support/Frameworks</string>
			</array>
			<key>OTHER_CFLAGS</key>
			<string>-fvisibility=hidden</string>
			<key>REZ_SEARCH_PATHS</key>
			<array>
				<string>RO</string>
				<string>../../Support/Inc</string>
				<string>../../Support/Modules/DGLib</string>
			</array>
			<key>USER_HEADER_SEARCH_PATHS</key>
			<array>
				<string>../../Support/Inc</string>
				<string>../../Support/Modules/GSRoot</string>
				<string>../../Support/Modules/GSRoot/STL/imp</string>
				<string>../../Support/Modules/GSUtils</string>
				<string>../../Support/Modules/InputOutput</string>
				<string>../../Support/Modules/DGLib</string>
				<string>../../Support/Modules/UCLib</string>
				<string>../../Support/Modules/GSXML</string>
				<string>../../Support/Modules/GX</string>
				<string>../../Support/Modules/TextEngine</string>
				<string>../../Support/Modules/Geometry</string>
				<string>../../Support/Modules/Graphix</string>
			</array>
			<key>GCC_INPUT_FILETYPE</key>
			<string>sourcecode.cpp.cpp</string>
			<key>GCC_WARN_ABOUT_RETURN_TYPE</key>
			<string>YES</string>
			<key>GCC_WARN_TYPECHECK_CALLS_TO_PRINTF</key>
			<string>YES</string>
			<key>GCC_WARN_UNUSED_PARAMETER</key>
			<string>YES</string>
			<key>GCC_WARN_UNUSED_VARIABLE</key>
			<string>YES</string>
			<key>WARNING_CFLAGS</key>
			<array>
				<string>-Wno-multichar</string>
				<string>-Wno-ctor-dtor-privacy</string>
				<string>-Wno-invalid-offsetof</string>
			</array>
		</dict>
	</dict>
    <key>Targets</key>
    <array>
        <dict>
            <key>ProductType</key>
            <string>com.apple.product-type.bundle</string>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.bundleTarget</string>
            <key>SharedSettings</key>
            <dict>
                <key>INSTALL_PATH</key>
                <string>$(LOCAL_LIBRARY_DIR)/Bundles</string>
                <key>SKIP_INSTALL</key>
                <string>YES</string>
                <key>WRAPPER_EXTENSION</key>
                <string>apx</string>
                <key>COMBINE_HIDPI_IMAGES</key>
                <string>YES</string>
                <key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>NO</string>
				<key>GCC_PREFIX_HEADER</key>
				<string></string>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<array>
					<string>$(inherited)</string>
					<string>macintosh=1</string>
					<string>ACExtension</string>
				</array>
            </dict>
            <key>BuildPhases</key>
            <array>
                <dict>
                    <key>Class</key>
                    <string>Sources</string>
                </dict>
                <dict>
                    <key>Class</key>
                    <string>Frameworks</string>
                </dict>
                <dict>
                    <key>Class</key>
                    <string>Resources</string>
                </dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>/usr/bin/perl &quot;___PROJECTNAME___/RFIX.mac/compileGRCs.pl&quot;</string>
				</dict>
                <dict>
                    <key>Class</key>
                    <string>CopyFiles</string>
                    <key>DstPath</key>
                    <string>/usr/share/man/man1/</string>
                    <key>DstSubfolderSpec</key>
                    <string>0</string>
                    <key>RunOnlyForDeploymentPostprocessing</key>
                    <string>NO</string>
                </dict>
            </array>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
		<string>Info.plist</string>
        <string>Src/___PROJECTNAME___.cpp</string>
		<string>Src/APIEnvir.h</string>
		<string>Src/APICommon.h</string>
		<string>Src/APICommon.c</string>
		<string>RINT/___PROJECTNAME___.grc</string>
		<string>RFIX/___PROJECTNAME___Fix.grc</string>
		<string>RFIX/Images/</string>
		<string>RFIX.mac/ArchiCADPlugin.icns</string>
		<string>RFIX.mac/PkgInfo</string>
		<string>RFIX.mac/compileGRCs.pl</string>
		<string>Cocoa.framework</string>
		<string>libACAP_STAT.a</string>
		<string>GSRoot.framework</string>
		<string>DG.framework</string>
		<string>InputOutput.framework</string>
		<string>Geometry.framework</string>
		<string>GSUtils.framework</string>
		<string>GSXML.framework</string>
		<string>GSXMLUtils.framework</string>
		<string>TextEngine.framework</string>
		<string>GX.framework</string>
		<string>GSZLib.framework</string>
		<string>ObjectDatabase.framework</string>
		<string>VectorImage.framework</string>
    </array>
    <key>Definitions</key>
    <dict>
		<key>Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Src/___PROJECTNAME___.cpp</key>
		<dict>
			<key>Group</key>
			<string>Src</string>
			<key>Path</key>
			<string>Src/___PROJECTNAME___.cpp</string>
		</dict>
		<key>Src/APICommon.c</key>
		<dict>
			<key>Group</key>
			<string>Src</string>
			<key>Path</key>
			<string>Src/APICommon.c</string>
		</dict>
		<key>Src/APICommon.h</key>
		<dict>
			<key>Group</key>
			<string>Src</string>
			<key>Path</key>
			<string>Src/APICommon.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Src/APIEnvir.h</key>
		<dict>
			<key>Group</key>
			<string>Src</string>
			<key>Path</key>
			<string>Src/APIEnvir.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>RINT/___PROJECTNAME___.grc</key>
		<dict>
			<key>Group</key>
			<string>RINT</string>
			<key>Path</key>
			<string>RINT/___PROJECTNAME___.grc</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>RFIX/___PROJECTNAME___Fix.grc</key>
		<dict>
			<key>Group</key>
			<string>RFIX</string>
			<key>Path</key>
			<string>RFIX/___PROJECTNAME___Fix.grc</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>RFIX/Images/</key>
		<dict>
			<key>Group</key>
			<string>RFIX</string>
			<key>Path</key>
			<string>./RFIX/Images/</string>
			<key>FileType</key>
			<string>wrapper.folder</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>RFIX.mac/ArchiCADPlugin.icns</key>
		<dict>
			<key>Group</key>
			<string>RFIX.mac</string>
			<key>Path</key>
			<string>TemplateIcon.icns</string>
		</dict>
		<key>RFIX.mac/PkgInfo</key>
		<dict>
			<key>Group</key>
			<string>RFIX.mac</string>
			<key>Path</key>
			<string>PkgInfo</string>
		</dict>
		<key>RFIX.mac/compileGRCs.pl</key>
		<dict>
			<key>Group</key>
			<string>RFIX.mac</string>
			<key>Path</key>
			<string>RFIX.mac/compileGRCs.pl</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Cocoa.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>/System/Library/Frameworks/Cocoa.framework</string>
			<key>PathType</key>
			<string>Absolute</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
		</dict>
		<key>libACAP_STAT.a</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>./../../Support/Lib/Mactel/libACAP_STAT.a</string>
			<key>PathType</key>
			<string>Absolute</string>
			<key>FileType</key>
			<string>archive.ar</string>
		</dict>
		<key>GSRoot.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>./../../Support/Frameworks/GSRoot.framework</string>
			<key>PathType</key>
			<string>Absolute</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
		</dict>
		<key>DG.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>./../../Support/Frameworks/DG.framework</string>
			<key>PathType</key>
			<string>Absolute</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
		</dict>
		<key>InputOutput.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>./../../Support/Frameworks/InputOutput.framework</string>
			<key>PathType</key>
			<string>Absolute</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
		</dict>
		<key>Geometry.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>./../../Support/Frameworks/Geometry.framework</string>
			<key>PathType</key>
			<string>Absolute</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
		</dict>
		<key>GSUtils.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>./../../Support/Frameworks/GSUtils.framework</string>
			<key>PathType</key>
			<string>Absolute</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
		</dict>
		<key>GSXML.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>./../../Support/Frameworks/GSXML.framework</string>
			<key>PathType</key>
			<string>Absolute</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
		</dict>
		<key>GSXMLUtils.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>./../../Support/Frameworks/GSXMLUtils.framework</string>
			<key>PathType</key>
			<string>Absolute</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
		</dict>
		<key>TextEngine.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>./../../Support/Frameworks/TextEngine.framework</string>
			<key>PathType</key>
			<string>Absolute</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
		</dict>
		<key>GX.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>./../../Support/Frameworks/GX.framework</string>
			<key>PathType</key>
			<string>Absolute</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
		</dict>
		<key>GSZLib.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>./../../Support/Frameworks/GSZLib.framework</string>
			<key>PathType</key>
			<string>Absolute</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
		</dict>
		<key>VectorImage.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>./../../Support/Frameworks/VectorImage.framework</string>
			<key>PathType</key>
			<string>Absolute</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
		</dict>
		<key>ObjectDatabase.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>./../../Support/Frameworks/ObjectDatabase.framework</string>
			<key>PathType</key>
			<string>Absolute</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
		</dict>
    </dict>
</dict>
</plist>
